I need to manually check each metadata because they entered controls in different ways...

Studies 10321 and 13450 don't seem to have a control.

In [1]:
import pandas as pd
pd.__version__

'1.1.5'

In [2]:
id714 = pd.read_csv('714/templates/714_20191015-105331.txt', sep = '\t')
id714 = id714[id714['treatment']=='control'].reset_index(drop=True)
id714.to_csv('714/templates/control_714.txt', sep='\t', index=False)
id714[['sample_name']].to_csv('714/templates/samples_to_keep_714.tsv', sep='\t', index=False)
id714.head()

,sample_name,age,age_unit,altitude,anonymized_name,biological_specimen,body_habitat,body_product,body_site,cage,...,soil_controls,soil_ph,time_bin,title,treatment,treatment_group_event,unique_samples,unique_treatment,unique_treatment_control,weight
0,714.M3ntc.D6,NaN,days,0,M3ntc.D6,mouse.control.control,NaN,NaN,NaN,control,...,NaN,control,NaN,Mouse_Decomp_Forensics_2011,control,control.control,control,control.control,controlNAcontrol,control
1,714.M3ntc.H12,NaN,days,0,M3ntc.H12,mouse.control.control,NaN,NaN,NaN,control,...,NaN,control,NaN,Mouse_Decomp_Forensics_2011,control,control.control,control,control.control,controlNAcontrol,control
2,714.clean.swab,NaN,days,0,clean.swab,mouse.control.control,NaN,NaN,NaN,control,...,NaN,control,NaN,Mouse_Decomp_Forensics_2011,control,control.control,control,control.control,controlNAcontrol,control
3,714.control,NaN,days,0,control,mouse.control.control,NaN,NaN,NaN,control,...,NaN,control,NaN,Mouse_Decomp_Forensics_2011,control,control.control,control,control.control,controlNAcontrol,control
4,714.control.MCD1.H12,NaN,days,0,control.MCD1.H12,mouse.control.control,NaN,NaN,NaN,control,...,NaN,control,NaN,Mouse_Decomp_Forensics_2011,control,control.control,control,control.control,controlNAcontrol,control

In [3]:
id1609 = pd.read_csv('1609/templates/1609_20181018-131039.txt', sep='\t')
id1609 = id1609[id1609['control']=='y'].reset_index(drop=True)
id1609.to_csv('1609/templates/control_1609.txt', sep='\t', index=False)
id1609[['sample_name']].to_csv('1609/templates/samples_to_keep_1609.tsv', sep='\t', index=False)
id1609.head()

,sample_name,ammonium,ammonium_units,anonymized_name,collection_timestamp,control,country,depth,description,dna_extracted,...,sample_type,scientific_name,season,taxon_id,title,tot_nitro,tot_nitro_units,total_body_score,total_c,total_c_units
0,1609.mass.control.0.1,Not provided,Not provided,A1,2014,y,USA:NE,0-.05,mass.control.0.1,True,...,soil,soil metagenome,not_applicable,410658,Seasonal variation of postmortem microbial com...,Not provided,Not provided,Not provided,Not provided,Not provided
1,1609.mass.control.0.2,Not provided,Not provided,A2,2014,y,USA:NE,0-.05,mass.control.0.2,True,...,soil,soil metagenome,not_applicable,410658,Seasonal variation of postmortem microbial com...,Not provided,Not provided,Not provided,Not provided,Not provided
2,1609.mass.control.0.3,Not provided,Not provided,A3,2014,y,USA:NE,0-.05,mass.control.0.3,True,...,soil,soil metagenome,not_applicable,410658,Seasonal variation of postmortem microbial com...,Not provided,Not provided,Not provided,Not provided,Not provided
3,1609.mass.control.1.1,Not provided,Not provided,A4,2014,y,USA:NE,0-.05,mass.control.1.1,True,...,soil,soil metagenome,not_applicable,410658,Seasonal variation of postmortem microbial com...,Not provided,Not provided,Not provided,Not provided,Not provided
4,1609.mass.control.1.2,Not provided,Not provided,A5,2014,y,USA:NE,0-.05,mass.control.1.2,True,...,soil,soil metagenome,not_applicable,410658,Seasonal variation of postmortem microbial com...,Not provided,Not provided,Not provided,Not provided,Not provided

In [4]:
id10141 = pd.read_csv('10141/templates/10141_20190104-105500.txt', sep='\t')
id10141 = id10141[id10141['sample_type']=='control'].reset_index(drop=True)
id10141.to_csv('10141/templates/control_10141.txt', sep='\t', index=False)
id10141[['sample_name']].to_csv('10141/templates/samples_to_keep_10141.tsv', sep='\t', index=False)
id10141.head()

,sample_name,anonymized_name,collection_date,collection_timestamp,country,depth,description,dna_extracted,elevation,empo_1,...,sample_group_allskin,sample_type,scientific_name,sex,skin_site,soil_collection_site,soil_ctrl,soil_type,taxon_id,title
0,10141.NTC.plate.8,NTC.plate.8,12/17/12 0:00,2012-12-17,GAZ:United States of America,0,Mouse Decomposition experiment on contrasting ...,True,1624.1,Control,...,control,control,metagenome,not applicable,not applicable,not applicable,not applicable,not applicable,256318,Metcalf_Mouse_DecompII
1,10141.NTC.plate1,NTC.plate1,12/17/12 0:00,2012-12-17,GAZ:United States of America,0,Mouse Decomposition experiment on contrasting ...,True,1624.1,Control,...,control,control,metagenome,not applicable,not applicable,not applicable,not applicable,not applicable,256318,Metcalf_Mouse_DecompII
2,10141.NTC.plate2,NTC.plate2,12/17/12 0:00,2012-12-17,GAZ:United States of America,0,Mouse Decomposition experiment on contrasting ...,True,1624.1,Control,...,control,control,metagenome,not applicable,not applicable,not applicable,not applicable,not applicable,256318,Metcalf_Mouse_DecompII
3,10141.NTC.plate3,NTC.plate3,12/17/12 0:00,2012-12-17,GAZ:United States of America,0,Mouse Decomposition experiment on contrasting ...,True,1624.1,Control,...,control,control,metagenome,not applicable,not applicable,not applicable,not applicable,not applicable,256318,Metcalf_Mouse_DecompII
4,10141.NTC.plate4,NTC.plate4,12/17/12 0:00,2012-12-17,GAZ:United States of America,0,Mouse Decomposition experiment on contrasting ...,True,1624.1,Control,...,control,control,metagenome,not applicable,not applicable,not applicable,not applicable,not applicable,256318,Metcalf_Mouse_DecompII

In [5]:
id10143 = pd.read_csv('10143/templates/10143_20191021-130723.txt', sep='\t')
id10143 = id10143[id10143['sample_name'].str.contains('ctrl')].reset_index(drop=True)
id10143.to_csv('10143/templates/control_10143.txt', sep='\t', index=False)
id10143[['sample_name']].to_csv('10143/templates/samples_to_keep_10143.tsv', sep='\t', index=False)
id10143.head()

,sample_name,add_0c,add_4c,add_5c,add_6c,body_site,collection_date,collection_date_unformat,collection_timestamp,corrected_sample_site,...,soil_type,soil_type_control,soil_type_control_experiment,solar_radiation_w_m2_average,solar_radiation_w_m2_max,solar_radiation_w_m2_min,taxon_id,temp_c_average,temp_c_max,temp_c_min
0,10143.016.4.17.2013.Soil.ctrl.ctrlA,0.000000,0.000000,0.000000,0.00000,ctrl,4.17.2013,4.17.2013,2013-04-17,ctrl,...,pine_forest,pine_forest.control,pine_forest.control.3_SHSU_April,113.191489,600.6,0.6,410658,24.204170,27.801,22.417
1,10143.016.4.17.2013.Soil.ctrl.ctrlB,0.000000,0.000000,0.000000,0.00000,ctrl,4.17.2013,4.17.2013,2013-04-17,ctrl,...,pine_forest,pine_forest.control,pine_forest.control.3_SHSU_April,113.191489,600.6,0.6,410658,24.204170,27.801,22.417
2,10143.016.4.17.2013.Soil.ctrl.ctrlC,0.000000,0.000000,0.000000,0.00000,ctrl,4.17.2013,4.17.2013,2013-04-17,ctrl,...,pine_forest,pine_forest.control,pine_forest.control.3_SHSU_April,113.191489,600.6,0.6,410658,24.204170,27.801,22.417
3,10143.016.4.19.2013.Soil.ctrl.ctrlA,26.576191,18.576191,16.576191,10.28766,ctrl,4.19.2013,4.19.2013,2013-04-19,ctrl,...,pine_forest,pine_forest.control,pine_forest.control.3_SHSU_April,191.380851,1034.4,0.6,410658,10.288532,19.270,3.775
4,10143.016.4.19.2013.Soil.ctrl.ctrlB,26.576191,18.576191,16.576191,10.28766,ctrl,4.19.2013,4.19.2013,2013-04-19,ctrl,...,pine_forest,pine_forest.control,pine_forest.control.3_SHSU_April,191.380851,1034.4,0.6,410658,10.288532,19.270,3.775

In [6]:
## All samples comes from fly, and doesn't seem to have a control

# id10321 = pd.read_csv('10321/templates/10321_20180418-105405.txt', sep='\t')
# id10321